

body{

  width: 50%;
  height: 100vh;
  display: grid;
  background-color: rgb(170, 167, 167);
}

.container{

  display:grid;
  place-items: center;
}

.semaforo{

  width:130px ;
  height: 500px;
  border-radius: 30px;
  display:flex;
  background-color: black;
  padding: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}

.circulos1{

  display: block;
  width: 110px;
  height: 110px;
  border-radius:50% ;
  background-color: green;
  

}

.circulos2{

  display: block;
  width: 110px;
  height: 110px;
  border-radius:60% ;
  background-color: orangered;
  
  
  


}

.circulos3{

  display: block;
  width: 110px;
  height: 110px;
  border-radius:60% ;
  background-color: red;
  
  
  

}

.brillanteRed{

  display: block;
  width: 110px;
  height: 110px;
  border-radius:60% ;
  background-color: red;
  
  box-shadow: 2px 2px 2px 1px rgba(246, 244, 244, 0.676)
}

.brillanteYellow{

  display: block;
  width: 110px;
  height: 110px;
  border-radius:60% ;
  background-color: orangered;
  
  box-shadow: 2px 2px 2px 1px rgba(246, 244, 244, 0.676)

}

.brillanteGreen{

  display: block;
  width: 110px;
  height: 110px;
  border-radius:50% ;
  background-color: green;
  
  box-shadow: 2px 2px 2px 1px rgba(246, 244, 244, 0.676)

}